<?xml version="1.0"?>
<robot name="orthrus"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="orthrus_base.xacro"/>

  <xacro:hip prefix="RF"/>
  <xacro:hip prefix="LF"/>
  <xacro:hip prefix="RB"/>
  <xacro:hip prefix="LB"/>

  <xacro:leg1 prefix="RF"/>
  <xacro:leg1 prefix="LF"/>
  <xacro:leg1 prefix="RB"/>
  <xacro:leg1 prefix="LB"/>

  <xacro:leg2 prefix="LF"/>
  <xacro:leg2 prefix="RF"/>
  <xacro:leg2 prefix="LB"/>
  <xacro:leg2 prefix="RB"/>

  <gazebo reference="body">
    <sensor name="imu_sensor" type="imu">
      <always_on>1</always_on>
      <update_rate>1000</update_rate>
    </sensor>
  </gazebo>

  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>

    <xacro:ros2_hip_joint prefix="RF"/>
    <xacro:ros2_leg1_joint prefix="RF"/>
    <xacro:ros2_leg2_joint prefix="RF"/>

    <xacro:ros2_hip_joint prefix="LF"/>
    <xacro:ros2_leg1_joint prefix="LF"/>
    <xacro:ros2_leg2_joint prefix="LF"/>

    <xacro:ros2_hip_joint prefix="RB"/>
    <xacro:ros2_leg1_joint prefix="RB"/>
    <xacro:ros2_leg2_joint prefix="RB"/>

    <xacro:ros2_hip_joint prefix="LB"/>
    <xacro:ros2_leg1_joint prefix="LB"/>
    <xacro:ros2_leg2_joint prefix="LB"/>

    <sensor name="imu_sensor">
      <state_interface name="orientation.x"/>
      <state_interface name="orientation.y"/>
      <state_interface name="orientation.z"/>
      <state_interface name="orientation.w"/>
      <state_interface name="angular_velocity.x"/>
      <state_interface name="angular_velocity.y"/>
      <state_interface name="angular_velocity.z"/>
      <state_interface name="linear_acceleration.x"/>
      <state_interface name="linear_acceleration.y"/>
      <state_interface name="linear_acceleration.z"/>
    </sensor>

  </ros2_control>
  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>/home/evence/code_file/ros2_ws/orthrus/src/orthrus_ros2_pack/orthrus_sim/orthrus_gazebo/config/orthrus.yaml</parameters>
    </plugin>
  </gazebo>
</robot>

