<?xml version="1.0"?>
<robot name="orthrus"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="meshes_folder" value="file:///$(find orthrus_gazebo)/models/orthrus/meshes" />
  <!--<xacro:property name="meshes_folder" value="/home/evence/code_file/ros2_ws/orthrus/src/orthrus_ros2_pack/orthrus_sim/orthrus_gazebo/models/orthrus/meshes" />-->

  <link name="body">
    <visual>
      <origin xyz="-0.10 0.1385 -0.05" rpy="${pi/2} 0 0" />
      <geometry>
        <mesh filename="${meshes_folder}/body.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.10 0.1385 -0.05" rpy="${pi/2} 0 0" />
      <geometry>
        <mesh filename="${meshes_folder}/body.STL"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="7"/>
      <inertia ixx="4.9950395" ixy="0" ixz="0" iyy="2.4616377" iyz="0" izz="6.4183150" />
    </inertial>
  </link>

  <gazebo reference="body">
    <visual>
      <material>
        <ambient>0 0.8 0 1</ambient>
        <diffuse>0 0.8 0 1</diffuse>
        <specular>0 0.8 0 1</specular>
      </material>
    </visual>
  </gazebo>

  <xacro:macro name="hip" params="prefix">
    <link name="hip_${prefix}">
      <visual>
        <origin xyz="-0.02 -0.05 -0.05" rpy="0 0 0" />
        <geometry>
          <mesh filename="${meshes_folder}/hip.STL"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="-0.02 -0.05 -0.05" rpy="0 0 0" />
        <geometry>
          <mesh filename="${meshes_folder}/hip.STL"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.7"/>
        <inertia ixx="0.0904981" ixy="0" ixz="-0.0000480" iyy=" 0.0917319" iyz="0" izz="0.0857923" />
      </inertial>
    </link>

    <gazebo reference="hip_${prefix}">
      <visual>
        <material>
          <ambient>0 0.8 0 1</ambient>
          <diffuse>0 0.8 0 1</diffuse>
          <specular>0 0.8 0 1</specular>
        </material>
      </visual>
    </gazebo>

    <joint name="hip_${prefix}_joint" type="revolute">
      <axis xyz="0 0 1"/>
      <parent link="body"/>
      <child link="hip_${prefix}"/>
      <dynamics damping="0.1" friction="0.01"/>
      <limit effort="35.0" lower="-${pi/2}" upper="${pi/2}" velocity="${pi}"/>
      <xacro:if value="${prefix == 'LF'}">
        <origin xyz="-0.05 0.20 0" rpy="${pi/2} ${pi} 0" />
      </xacro:if>
      <xacro:if value="${prefix == 'LB'}">
        <origin xyz="-0.05 -0.20 0" rpy="-${pi/2} ${pi} 0" />
      </xacro:if>
      <xacro:if value="${prefix == 'RB'}">
        <origin xyz="0.05 -0.20 0" rpy="${pi/2} ${pi} ${pi}" />
      </xacro:if>
      <xacro:if value="${prefix == 'RF'}">
        <origin xyz="0.05 0.20 0" rpy="-${pi/2} ${pi} ${pi}" />
      </xacro:if>

    </joint>
  </xacro:macro>

  <xacro:hip prefix="RF"/>
  <xacro:hip prefix="LF"/>
  <xacro:hip prefix="RB"/>
  <xacro:hip prefix="LB"/>

  <xacro:macro name="ros2_hip_joint" params="prefix">
    <joint name="hip_${prefix}_joint">
      <command_interface name="effort">
        <param name="min">-35</param>
        <param name="max">35</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">1.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </xacro:macro>

  <ros2_control name="IgnitionSystem" type="system">
    <hardware>
      <plugin>ign_ros2_control/IgnitionSystem</plugin>
    </hardware>

    <xacro:ros2_hip_joint prefix="RF"/>
    <xacro:ros2_hip_joint prefix="LF"/>
    <xacro:ros2_hip_joint prefix="RB"/>
    <xacro:ros2_hip_joint prefix="LB"/>
    
  </ros2_control>




  <gazebo>
    <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
      <parameters>$(find orthrus_ign)/config/test.yaml</parameters>
    </plugin>
  </gazebo>
</robot>