<?xml version="1.0"?>
<robot name="orthrus"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="meshes_folder" value="file:///$(find orthrus_interfaces)/models/orthrus/meshes" />
  <xacro:property name="orthrus_config_path" value="file:///$(find orthrus_control)/config/orthrus.yaml" />

  <xacro:include filename="orthrus_base.xacro"/>

  <xacro:HAA prefix="LF"/>
  <xacro:HFE prefix="LF"/>
  <xacro:KFE prefix="LF"/>
  <xacro:FOOT prefix="LF"/>

  <xacro:HAA prefix="LH"/>
  <xacro:HFE prefix="LH"/>
  <xacro:KFE prefix="LH"/>
  <xacro:FOOT prefix="LH"/>

  <xacro:HAA prefix="RF"/>
  <xacro:HFE prefix="RF"/>
  <xacro:KFE prefix="RF"/>
  <xacro:FOOT prefix="RF"/>

  <xacro:HAA prefix="RH"/>
  <xacro:HFE prefix="RH"/>
  <xacro:KFE prefix="RH"/>
  <xacro:FOOT prefix="RH"/>

  <xacro:orthrus_ros2_control prefix="real" name="OrthrusSystemHardware"/>
</robot>

