<robot name="orthrus"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="meshes_folder" value="file:///$(find orthrus_description)/models/orthrus/meshes" />
  <xacro:property name="orthrus_config_path" value="file:///$(find orthrus_gazebo)/config/orthrus.yaml" />

  <xacro:include filename="orthrus_base.xacro"/>

  <xacro:HAA prefix="LF"/>
  <xacro:HFE prefix="LF"/>
  <xacro:KFE prefix="LF"/>
  <xacro:FOOT prefix="LF"/>

  <xacro:HAA prefix="LH"/>
  <xacro:HFE prefix="LH"/>
  <xacro:KFE prefix="LH"/>
  <xacro:FOOT prefix="LH"/>

  <xacro:HAA prefix="RF"/>
  <xacro:HFE prefix="RF"/>
  <xacro:KFE prefix="RF"/>
  <xacro:FOOT prefix="RF"/>

  <xacro:HAA prefix="RH"/>
  <xacro:HFE prefix="RH"/>
  <xacro:KFE prefix="RH"/>
  <xacro:FOOT prefix="RH"/>

  <xacro:orthrus_ros2_control prefix="gazebo" name="GazeboSystem"/>

  <gazebo reference="base">
    <sensor name="imu_sensor" type="imu">
      <always_on>1</always_on>
      <update_rate>1000</update_rate>
      <imu>
        <topic_name>imu</topic_name>
        <frame_id>imu_link</frame_id>
        <turn_on_bias>0</turn_on_bias>
        <gyroscope>
          <x>
            <bias_mean>0.0</bias_mean>
            <bias_stddev>0.00001</bias_stddev>
            <noise_mean>0.0</noise_mean>
            <noise_stddev>0.0001</noise_stddev>
          </x>
          <y>
            <bias_mean>0.0</bias_mean>
            <bias_stddev>0.00001</bias_stddev>
            <noise_mean>0.0</noise_mean>
            <noise_stddev>0.0001</noise_stddev>
          </y>
          <z>
            <bias_mean>0.0</bias_mean>
            <bias_stddev>0.00001</bias_stddev>
            <noise_mean>0.0</noise_mean>
            <noise_stddev>0.0001</noise_stddev>
          </z>
        </gyroscope>
        <accelerometer>
          <x>
            <bias_mean>0.0</bias_mean>
            <bias_stddev>0.0001</bias_stddev>
            <noise_mean>0.0</noise_mean>
            <noise_stddev>0.01</noise_stddev>
          </x>
          <y>
            <bias_mean>0.0</bias_mean>
            <bias_stddev>0.0001</bias_stddev>
            <noise_mean>0.0</noise_mean>
            <noise_stddev>0.01</noise_stddev>
          </y>
          <z>
            <bias_mean>0.0</bias_mean>
            <bias_stddev>0.0001</bias_stddev>
            <noise_mean>0.0</noise_mean>
            <noise_stddev>0.01</noise_stddev>
          </z>
        </accelerometer>
      </imu>
    </sensor>
  </gazebo>

  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(find orthrus_gazebo)/config/orthrus.yaml</parameters>
    </plugin>
  </gazebo>
</robot>

